<div class="container">
  <div class="transition-container" [@fadeIn]="fadeIn" [@flip]="flip">
    <div class="header">
      <img src="./assets/icons/business2.png" alt="" />
      <span>Zgłoś Usterkę</span>
    </div>
    <div class="mainContainer">
      <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div class="mail">
          <label for="email">Podaj email: <br /></label>
          <input id="email" formControlName="email" type="text" />
        </div>
        <div class="buttonWrapper">
          <button type="submit">Zatwierdz</button>
        </div>
      </form>
      <div class="errorBox" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="buttonContainer" (click)="goToLoginPage()">
        <img src="./assets/icons/nav/sign-out.svg" alt="" />
      </div>
    </div>
    <div class="footer">
      <span>
        Miasto nasza <br />
        wspólna sprawa.</span
      >
    </div>
  </div>
</div>
