<div class="container">
  <div class="header">
    <img src="./assets/icons/business2.png" alt="" [@flip]="flip" />
    <span [@fadeIn]="fadeIn">Zgłoś Usterkę</span>
  </div>
  <div class="mainContainer">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)" [@fadeIn]="fadeIn">
      <div class="mail">
        <label for="email">Podaj email: <br /> </label>
        <input id="email" formControlName="email" type="text" />
      </div>
      <div class="passArea" formGroupName="password">
        <div class="pass">
          <label id="label" for="password">Podaj hasło:<br /> </label>
          <input id="password" #x formControlName="password1" type="password" />
        </div>
        <div class="pass2">
          <label for="password2">Powtórz hasło: <br /> </label>
          <input
            id="password2"
            #x1
            formControlName="password2"
            type="password"
          />
        </div>
        <div class="showPassword">
          <input
            type="checkbox"
            (click)="
              x.type = x.type == 'password' ? 'text' : 'password';
              x1.type = x1.type == 'password' ? 'text' : 'password'
            "
          />
          <span>Pokaż Hasło</span>
        </div>
      </div>
      <div class="buttonWrapper">
        <button type="submit">Zarejestuj sie</button>
      </div>
    </form>
    <div class="buttonContainer" (click)="goBack()">
        <img src="./assets/icons/nav/sign-out.svg" alt="" />
      </div>
  </div>
  <div class="footer">
    <span [@fadeIn]="fadeIn">
      Miasto nasza <br />
      wspólna sprawa.</span
    >
  </div>
</div>
