<div class="background">
    <div class="container">
        <div class="header"> <img src="./assets/icons/business2.png" alt="">
            <span>Zgłoś Usterkę</span></div>
        <div class="loginWindow">
            <div class="loginOption" id="google">
                <span>
                    Żeby zgłosić usterkę musisz jeszcze, zweryfikować swój adres email. <br>
                    Sprawdź swoją skrzynkę! <br>
                    Za chwilę zostaniesz przekierowany do strony głównej.
                </span>
            </div>
        </div>
        <div class="footer">
            <span> Miasto nasza <br /> wspólna sprawa.</span></div>
    </div>
