
<div class="background">
    <div class="container">
        <div class="animationContainer" [@fadeIn]="fadeIn" [@flip]="flip">
        <div class="header"> <img src="./assets/icons/business2.png" alt="">
            <span>Zgłoś Usterkę</span></div>
        <div class="loginWindow">
            <div class="loginOption" id="google">
                <span>Dziekujemy za informację. <br>
                    Email z linkiem do resetu hasła został wysłany na twoją skrzynkę mailową. <br>
                    Zostaniesz przeniesiony na stronę główną za  {{timeToRedirect}} sekund. <br>
                    Poczekaj na maila, zresetuj swoje hasło i wróc do nas :)
                </span>
            </div>
        </div>
        <div class="footer">
            <span> Miasto nasza <br /> wspólna sprawa.</span></div>
    </div>
</div>
</div>