<div class="container" >
  <div class="fade-container" [@fadeIn]="fadeIn" [@jackInTheBox]="jackInTheBox">
    <div class="header">
      <h1>Infromacje Prawne</h1>
      <h2>
        Dostęp i korzystanie z niniejszej strony internetowej oznacza akceptację
        następujących zasad jej użytkowania. W przypadku braku zgody na
        związanie poniższymi zasadami, użytkownik powinien niezwłocznie
        zaprzestać korzystania ze strony.
      </h2>
    </div>
    <div class="content">
      <span>
        <h2>Drogi Użytkowniku, <br></h2>  
  Znajdujesz się z szczegółowej sekcji informacyjnej dotyczącej zarządzania procesami przetwarzania Twoich danych osobowych na stronach internetowych i innych narzędziach udostępnianych przez podmiot “Zgłoś Usterkę”.
 Zgoda i inne podstawy przetwarzania danych, jeśli chcesz zgodzić się na przetwarzanie przez serwis “Zgłoś Usterkę” Twoich danych osobowych, zawierających informacje zapisane w plikach cookies w Twoim urządzeniu i jego pamięci podręcznej oraz dane lokalizacyjne generowane przez Twoje urządzenie, w celach weryfikacji nadesłanych przez Ciebie Zgłoszeń.
Jeśli nie chcesz wyrazić zgody opuść tą stronę. <br> Powyższa zgoda dotyczy przetwarzania Twoich danych osobowych w celach wyłącznie weryfikacyjnych. 
Dane te są jednocześnie danymi niezbędnymi do realizacji działania podstawowych funkcji serwisu. <br>
  Administratorem Twoich danych osobowych jest podmiot “Zgłoś Usterkę”, z którego serwisu lub aplikacji korzystasz – jego nazwę znajdziesz zawsze na górze strony internetowej lub w aplikacji, informuje o niej także graficzne logo Administratora. 
Prawnie uzasadniony interes administratora to jedna z podstaw do przetwarzania danych osobowych (obok m.in. zgody czy konieczności realizacji umowy) i obejmuje on przypadki, w których administrator danych z uwagi na zgodne z prawem cele może przetwarzać dane osobowe nie godząc w prawa, wolności, interesy podmiotów danych.                                               
Prawnie uzasadniony interes administratora będzie stanowił podstawę prawną tylko dla takiego przetwarzania danych osobowych, które jest niezbędne dla realizacji celu wynikającego z tego interesu. <br>
Istnienie prawnie uzasadnionego interesu oceniane jest w określonym czasie i kontekście, w którym dane są zbierane. Badane jest czy osoba, której dane dotyczą może spodziewać się, że administrator przetwarza jej dane w określonym celu oraz czy jej interesy, prawa podstawowe i wolności pozostają z tym interesem w równowadze. <br> 
Przetwarzanie takie nie wymaga dodatkowej zgody z Twojej strony, ale możesz mu się w każdej chwili sprzeciwić. O ile nie zdecydujesz inaczej, dokonując stosownych zmian ustawień w Twojej przeglądarce, podmiot “Zgłoś Usterkę” będzie również instalować na Twoich urządzeniach pliki cookies i podobne oraz odczytywać informacje z takich plików. Bliższe informacje o cookies znajdziesz w akapicie „Cookies” pod koniec tej informacji. 
  Administrator danych osobowych Administratorem Twoich danych osobowych jest podmiot “Zgłoś Usterkę”, z którego serwisu lub aplikacji korzystasz. Naszą nazwę znajdziesz zawsze na  górze strony, a logo na planszy zawierającej niniejszą informację. Informację o powołaniu przez nas inspektora ochrony danych i jego danych kontaktowych znajdziesz też na samym dole strony w polityce prywatności. 
Pamiętaj, że cofnięcie zgód uniemożliwi realizację działań, których te zgody dotyczą tj. możliwości zgłaszania usterek. <br><br>

 <h4>Cookies Na naszych stronach i w aplikacjach. <br> </h4>
 używamy znaczników internetowych takich jak pliki np. cookie lub local storage do zbierania i przetwarzania danych osobowych Cookies to dane informatyczne zapisywane w plikach i przechowywane na Twoim urządzeniu końcowym (tj. twój komputer, tablet, smartphone itp.), które przeglądarka wysyła do serwera przy każdorazowym wejściu na stronę z tego urządzenia, podczas gdy odwiedzasz strony w Internecie. <br><br>

<h4>Przysługują Ci następujące uprawnienia wobec Twoich danych i ich przetwarzania przez nas: <br> </h4>
 1. Jeśli udzieliłeś zgody na przetwarzanie danych możesz ją w każdej chwili wycofać (cofnięcie zgody oczywiście nie uchyli zgodności z prawem przetwarzania już dokonanego na jej podstawie); <br>
 2. Masz również prawo żądania dostępu do Twoich danych osobowych, ich sprostowania, usunięcia lub ograniczenia przetwarzania, prawo do przeniesienia danych, wyrażenia sprzeciwu wobec przetwarzania danych oraz prawo do wniesienia skargi do organu nadzorczego, którym w Polsce jest Prezes Urzędu Ochrony Danych Osobowych. <br>

      </span>
    </div>
    <div class="footer">
      <div class="buttonContainer" (click)="goBack()">
      <img src="./assets/icons/nav/sign-out.svg" alt="" />
    </div>
  </div>
</div>
</div>

