<div class="container" >
  <div class="fade-container" [@fadeIn]="fadeIn" [@jackInTheBox]="jackInTheBox">
    <div class="header">
      <h1>Infromacje Prawne</h1>
      <h2>
        Dostęp i korzystanie z niniejszej strony internetowej oznacza akceptację
        następujących zasad jej użytkowania. W przypadku braku zgody na
        związanie poniższymi zasadami, użytkownik powinien niezwłocznie
        zaprzestać korzystania ze strony.
      </h2>
    </div>
    <div class="content">
      <span>
        Prawa do zawartości niniejszej strony internetowej przysługują spółce
        Johnson & Johnson Po-land Sp. z o.o. („J&J”) z siedzibą w Warszawie, pod
        adresem: 02-135 Warszawa, ul. Iłżecka 24, wpisanej do Rejestru
        Przedsiębiorców prowadzonego przez Sąd Rejonowy dla m.st. Warszawy w
        Warszawie, XIII Wydział Gospodarczy Krajowego Rejestru Sądowego pod nr
        KRS 0000032278, kapitał zakładowy w wysokości 39.751.500 zł, NIP
        113-00-20-467 bądź spółkom z koncernu Johnson & Johnson („Grupa J&J”).
        Wszelkie prawa zastrzeżone. Zawartość strony można pobrać tylko do
        użytku własnego i w celach niekomercyjnych. Niedozwolona jest
        modyfikacja tej zawartości i jej powielanie. Spółki z Grupy J&J nie
        przyznają użytkownikom jakiejkolwiek licencji lub prawa wynikającego z
        jakichkolwiek praw autorskich należących do spółek z Grupy J&J innych
        niż wskazane powyżej. Żadne z niniejszych postanowień nie będzie
        interpretowane jako przyznanie, na zasadzie domniemania, przyzwolenia
        lub na innej zasadzie, jakiejkolwiek licencji ani prawa do korzystania z
        jakiegokolwiek prawa własności intelektualnej należącego do spółek z
        Grupy J&J lub dowolnej innej osoby. J&J dołoży wszelkich starań, aby
        strona ta zawierała informacje aktualne i dokładne. J&J nie ponosi
        odpowiedzialności (w najdalej dozwolonym przez prawo zakresie) za
        decyzje podejmowane przez użytkowników na podstawie informacji zawartych
        na stronie, za skutki wykorzystania przez użytkowników informacji
        uzyskanych ze strony, bezpośrednio lub pośrednio poniesione przez
        użytkowników lub osoby trzecie straty, szkody, doznaną krzywdę, ani inne
        negatywne skutki wynikające z dostępu użytkownika do tej strony
        internetowej lub jego braku, ani wynikające z wykorzystania informacji
        znajdujących się na tej stronie. Strona ta jest przeznaczona dla
        mieszkańców Polski. Niniejsza strona internetowa może zawierać linki lub
        odnośniki do innych stron, ale spółki z Grupy J&J nie są odpowiedzialne
        za treść stron, do których te linki/odnośniki prowadzą, i nie ponoszą
        odpowiedzialności za zawarte tam treści ani ich wykorzystanie przez
        użytkownika. Wszelkie łącza do innych stron podane są wyłącznie dla
        wygody użytkowników niniejszej strony internetowej. Wszelkie znaki
        towarowe, nazwy handlowe, szata graficzna oraz inne prawa własności
        intelektualnej, takie jak patenty lub wzory przemysłowe, wykorzystane
        lub przedstawione na Stronie, stanowią własność spółek z Grupy J&J lub
        osób trzecich, są zastrzeżone oraz chronione prawem w Polsce i na
        świecie. Zabrania się wykorzystywania ich w jakikolwiek sposób bez
        uprzedniego upoważnienia na piśmie przez dysponentów praw. Wszelkie dane
        osobowe przekazywane za pomocą niniejszej strony internetowej
        przetwarzane są na zasadach określonych w Polityce prywatności. Żadne
        informacje przekazywane przez użytkownika strony, w tym pytania, uwagi,
        sugestie lub podobne informacje dotyczące strony, produktów lub
        działalności J&J, nie będą traktowane jako informacje poufne, a J&J nie
        będzie posiadać jakichkolwiek zobowiązań w odniesieniu do tego rodzaju
        informacji („Materiały”). W przypadku zamieszczenia przez użytkownika
        Materiałów na stronie, użytkownik gwarantuje i oświadcza, że korzystanie
        z Materiałów przez J&J lub osoby trzecie nie będzie naruszać żadnych
        praw użytkownika ani praw osób trzecich. Zamieszczając na stronie
        Materiały lub w inny sposób przekazując je J&J, użytkownik ponosi
        odpowiedzialność za treść i informacje w nich zawarte, włączając w to
        ich prawdziwość i dokładność. Z chwilą zamieszczenia Materiałów na
        stronie, użytkownik udziela J&J oraz spółkom z Grupy J&J nieodpłatnej
        licencji do korzystania z Materiałów w nieograniczonym czasie i
        przestrzeni, w całości lub w części na następujących polach
        eksploatacji: utrwalanie lub zwielokrotniania do-wolną techniką, w tym
        techniką drukarską, reprograficzną, zapisu magnetycznego oraz techniką
        cyfrową, wprowadzanie do obrotu w kraju lub za granicą, użyczanie lub
        najem oryginału lub egzemplarzy, rozpowszechnianie utworu, w tym jego
        publiczne wykonanie, wystawianie, wy-świetlanie, odtwarzanie oraz
        nadawanie i reemitowanie w każdy sposób i każdą techniką, a także
        publiczne udostępnianie w taki sposób, aby każdy mógł mieć do niego
        dostęp w miejscu i czasie przez siebie wybranym. Równocześnie użytkownik
        udziela J&J i spółkom z Grupy J&J prawa do wykonywania i zezwalania
        osobom trzecim na wykonywanie autorskich praw zależnych i autorskich
        praw osobistych do utworów zawartych w Materiale oraz do korzystania z
        takich utworów bez podawania nazwiska twórcy. Użytkownik udziela zgody
        J&J oraz spółkom z Grupy J&J na korzystanie przez nieograniczony czas ze
        wszelkich informacji, pomysłów, koncepcji, know-how i technik zawartych
        w Materiałach w dowolnym celu, w tym między innymi w celu opracowywania,
        wytwarzania i wprowadzania do obrotu produktów wykorzystujących tego
        rodzaju informacje oraz w materiałach promocyjnych spółek z Grupy J&J. Z
        tego tytułu, jak również z tytułu udzielenia licencji określonej
        powyżej, użytkownikowi nie będzie przysługiwało prawo do wynagrodzenia.
      </span>
    </div>
  </div>
</div>
